@use "../../base" as *;

.login {
  padding: 2em 1.5em;
  min-height: 70dvh;

  h1 {
    margin-bottom: 1em;
    text-align: center;
    text-wrap: balance;
  }

  form {
    --spacer: 1.6em;
    box-shadow: 0 0 4px var(--clr-neutral-300);
    border-radius: 1em;
    background-color: var(--clr-neutral-100);
    padding: 2em;
    width: max(28ch, 60%);
    margin-inline: auto;
    margin-bottom: 2em;

    & > * + * {
      margin-top: var(--spacer);
      width: 100%;
    }

    .button {
      padding-block: 0.5em;
    }
  }

  p {
    text-align: center;

    &:last-of-type {
      --spacer: 0.5em;
    }

    a {
      @extend %link;
      font-weight: bold;
      color: var(--clr-secondary-400);
      transition: color 0.3s;

      &:is(:hover, :focus-visible) {
        color: var(--clr-primary-400);
      }
    }
  }
}
