@use "../../abstracts" as *;
@use "../../base" as *;

.header {
  @extend .flex;
  padding: 1em 1.5em;
  position: sticky;
  top: 0;
  background-color: var(--clr-neutral-100);
  z-index: 3;
  box-shadow: 0 0 2px var(--clr-neutral-900);

  .home-link {
    width: 6.8em;
  }

  .menu-button {
    @extend %button;
    background-color: transparent;
    font-size: 2.5rem;
    border-radius: 0.2em;
    z-index: 2;
    display: none;

    svg {
      fill: var(--clr-neutral-900);
      transition: fill 0.3s;
    }

    &:is(:hover, :focus-visible) {
      svg {
        fill: var(--clr-secondary-400);
      }
    }

    &--open {
      svg {
        fill: var(--clr-neutral-100) !important;
      }
    }
  }

  nav ul {
    @extend .flex;
    gap: 0em;
  }

  .nav-link {
    @extend %link;
    position: relative;
    padding: 1em;

    & span {
      position: absolute;
      display: block;
      width: 0%;
      bottom: -0.5em;
      left: 50%;
      height: 0.15em;
      border-radius: 100vmax;
      background-color: var(--clr-secondary-400);
      transition: width 0.3s, left 0.3s;
    }

    &:is(:hover, :focus-visible) span,
    &--current span {
      width: 100%;
      left: 0;
    }
  }

  .user {
    @extend .flex;
    gap: 0.5em;

    & > span {
      @extend .flex;
      flex-direction: column;
      justify-content: center;
      color: var(--clr-neutral-100);
      width: 2em;
      aspect-ratio: 1;
      text-align: center;
      font-weight: 600;
      border-radius: 50%;

      &[data-color="primary-400"] {
        background-color: var(--clr-primary-400);
      }

      &[data-color="secondary-400"] {
        background-color: var(--clr-secondary-400);
      }

      &[data-color="accent-400"] {
        background-color: var(--clr-accent-400);
      }

      &[data-color="accent-500"] {
        background-color: var(--clr-accent-500);
      }

      &[data-color="neutral-900"] {
        background-color: var(--clr-neutral-900);
      }
    }
  }

  @include max(medium) {
    .register {
      display: none;
    }

    .user {
      display: none;
    }
  }

  @include max(small) {
    padding: 0.5em 1em;

    .menu-button {
      display: block;

      &--open ~ .user {
        color: var(--clr-neutral-100);
        right: 30%;
      }
    }

    nav {
      position: fixed;
      z-index: 1;
      inset: 0 0 0 100%;
      color: white;
      background-color: var(--clr-secondary-400);
      transition: inset 0.3s;

      ul {
        flex-direction: column;
        justify-content: center;
        gap: 3em;
        height: 100%;
        min-width: max-content;
      }

      &.open {
        inset: 0 0 0 20%;
      }
    }

    .nav-link {
      transition: font-weight 0.3s;

      &:is(:hover, :focus-visible),
      &--current {
        font-weight: bold;
      }
    }

    .user {
      display: block;
      position: fixed;
      top: 0.8em;
      color: transparent;
      font-weight: 600;
      right: 20%;
      z-index: 2;
      transition: color 0.3s, right 0.3s;

      & > span {
        display: none;
      }
    }
  }
}
