@use "../../../abstracts" as *;
@use "../../../base" as *;

.speaker {
  @extend .flex;
  font-size: 1rem;
  gap: 1em;
  align-items: flex-start;
  margin-bottom: 0.5em;

  & > div:first-child {
    @extend .flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2em;
    flex: 0.3;

    .image-wrapper {
      overflow: hidden;
      width: 20em;
      height: 12em;
      border-radius: 0.4em;
    }

    h3 {
      @extend .flex;
      justify-content: flex-start;
      width: max-content;
      margin-inline: auto;
    }

    p {
      margin-bottom: 0.5em;
    }
  }

  & > p {
    margin-top: 1.5em;
    flex: 0.7;
  }

  @include max(small) {
    flex-direction: column;
    gap: 0.3em;
    align-items: center;
    justify-content: flex-start;
    text-align: justify;

    & > div:first-child {
      .image-wrapper {
        overflow: hidden;
        width: 20em;
        height: 17em;
        border-radius: 0.4em;
      }
    }

    & > p {
      margin-block: 0 2em;
    }
  }
}
