@use "../../../abstracts" as *;
@use "../../../base" as *;

.sponsors {
  background-color: var(--clr-neutral-200);
  padding: 3em 1.5em;
  min-height: 50dvh;

  h2 {
    text-align: center;
    color: var(--clr-primary-400);
  }

  ul {
    @extend .flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 1em auto;
    justify-content: center;
    column-gap: 2em;
    row-gap: 1em;

    img {
      width: 8em;
    }
  }

  div {
    @extend .flex;
    justify-content: center;
    margin-top: 2em;
  }

  @include max(small) {
    div {
      flex-direction: column;
    }
  }
}
