//Basic typography styles for body text
@use "../abstracts" as *;
body {
  font-family: "Clash Display", Verdana, Tahoma, sans-serif;
  color: var(--clr-neutral-900);
  font-size: 1.15rem;
  overflow-x: hidden;
}

html {
  @include max(small) {
    font-size: 14px;
  }
}
